body {
  padding-bottom: 40px;
}

.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

textarea {
  resize: vertical;
}

#instructions {
  text-align: justify;
}

#result, #sentence-recognizer-table {
  margin-top: 20px;
}

.center,
.center th {
  text-align: center;
}

@media (min-width: 768px) {
  #parsing-table table {
    table-layout: fixed;
  }
}
